*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: beige;
    min-height: 100vh;
    min-height: 100vh;
}
.parent{
    height: 100px;
    width: 100px;
    background-color: lightgreen;
    position: fixed;
    top:0px;
    left: 100px;
    z-index: 0;
}
.logo{
    position: relative;
    z-index: -1;
}